.Comments{
    padding: 1rem;
    
    .comment_profile{
     width: 2.2rem;
 }
   h1{
        font-family: sans-serif;
        font-weight: bolder;
        text-align: justify;
        padding-left: 2px;
    }
   .comment{
    padding-top: 1rem;
    display:flex;
    // text-align: center;
         
}

 .Comment_whole{
   
    padding-left: 10px;
     display : flex ; 
     flex-direction: column;
     width: 20rem;
     h4{
        width: 20rem;
          word-wrap: break-word;
     }
}
  
}
.text_box_comment{
    display: flex;
    padding-top: 10px;
    padding-bottom: 1rem;
     
}
.comment_img{
    width: 100%;
}
.trash{
    width: 1.5rem;
    object-fit: contain;
    cursor: pointer;
    
}
.img_Container{
display: flex;
align-items: flex-start;
}