* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_btn_facebook {
  margin: 1.5rem;
  padding: 5px 8px;
  font-size: 1rem;
  border-radius: 50px;
  font-family: monospace;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Faceebok_comment {
  min-height: 100vh;
  width: 100%;
}

.textheader_second {
  position: absolute;
  right: 10px;
}

.textheader_second .cross {
  font-family: sans-serif;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.Main_section {
  width: 100%;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  padding-top: 1rem;
  z-index: 1;
}

.Main_textarea {
  min-height: auto;
  -webkit-box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  width: 40rem;
}

.textheader {
  width: auto;
  min-height: 7vh;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.textheader .textheader_children {
  padding-left: 5px;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.textheader .textheader_children span {
  margin-left: 4px;
  font-size: 12px;
  font-family: sans-serif;
  color: #8484e9;
  font-weight: bold;
}

.textheader .textheader_children img {
  width: 1rem;
}

.textArea {
  min-height: auto;
  width: 100%;
  position: relative;
  font-family: sans-serif;
}

.textArea textarea {
  outline: none;
  min-height: 10rem;
  font-family: monospace;
  border: none;
  padding-left: 2.1rem;
  padding-top: 20px;
  resize: none;
  width: 100%;
}

.textArea .Gif-CONTAINERs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textArea .Gif-CONTAINERs .image_positon {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 1rem;
}

.text_buttonsContainer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.text_buttonsContainer .Text_buttons {
  position: relative;
}

.text_buttonsContainer .Text_buttons .input {
  width: 100%;
  height: 2rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: whitesmoke;
  border: black;
  padding-top: 5px;
  padding-left: 2rem;
  font-size: 14px;
}

.text_buttonsContainer .Text_buttons img {
  width: 1rem;
  position: absolute;
  left: 9px;
  top: 8px;
}

@media screen and (max-width: 750px) {
  .Main_textarea {
    margin: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .Main_textarea {
    margin: 2rem;
    width: 100%;
  }
  .textheader {
    min-height: 10vh;
  }
  .textheader {
    min-height: 5vh;
  }
  .textheader .textheader_children img {
    width: 1rem;
  }
  .textArea textarea {
    min-height: 7rem;
  }
}

@media screen and (max-width: 450px) {
  section {
    padding-top: 5rem;
  }
  .textheader .textheader_children {
    margin-left: 10px;
  }
  .textheader .textheader_children span {
    font-size: 10px;
  }
}

.textheader_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textheader_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.TextArea_button_Container {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TextArea_button_Container .TextArea_buttons button {
  margin-right: 1rem;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  cursor: pointer;
  font-family: sans-serif;
}

.TextArea_button_Container .TextArea_buttons button:nth-child(2) {
  background-color: #77cce9;
  color: white;
}

.profile_img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 2rem;
}

.Search_image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 20rem;
  width: 25rem;
}

.Search_image button {
  width: 100%;
}

.triangle {
  position: absolute;
  top: -1.2rem;
  left: 12rem;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: gray;
}

.gif_container {
  position: relative;
  width: auto;
  z-index: 1;
}

.gif_mainContainer {
  position: absolute;
  top: 5rem;
  z-index: 1;
  left: -1rem;
}

.gif_input {
  width: 100%;
  padding-left: 4px;
  height: 2rem;
}

.image_grid {
  display: -ms-grid;
  display: grid;
  overflow-y: scroll;
  height: 84%;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  z-index: -100;
  background-color: white;
}

.image_grid img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 500px) {
  .Search_image {
    width: 12rem;
  }
  .gif_container {
    height: 45vh;
  }
  .triangle {
    left: 5rem;
  }
  .image_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .gif_mainContainer {
    bottom: 0rem;
    left: 1rem;
  }
}

.Comments {
  padding: 1rem;
}

.comment_profile {
  width: 2.2rem;
  margin-left: 1rem;
}

h1 {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: justify;
  padding-left: 2px;
}

.comment {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Comment_whole {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
}

.Comment_whole h4 {
  width: 20rem;
  word-wrap: break-word;
}

.text_box_comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 1rem;
}

.comment_img {
  width: 100%;
}

.trash {
  width: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  margin-left: 10px;
}

.img_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Head_text {
  font-family: monospace;
  margin: 0  1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

header {
  min-height: 5vh;
  font-family: sans-serif;
  border: 1px solid #e6e6e6;
  background-color: #da6ada;
  color: white;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.Window_image {
  padding-top: 2rem;
  min-height: 40vh;
  width: 100%;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Window_image .Window_container {
  width: 650px;
  border: 1px solid #e6e6e6;
  background: "#ffffff";
}

.Window_image .profile_container {
  padding: 10px;
  font-family: sans-serif;
}

.Window_image .profile_container img {
  width: 2rem;
}

.Window_image .profile_container .Window_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Window_image .profile_container .Window_profile span {
  margin-left: 10px;
}

.Window_image .profile_container h3 {
  padding-top: 1rem;
}

.Window_image .butterfly_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  width: 100%;
}

.Window_image .butterfly_image_container .butter {
  margin: 1rem;
  width: 100%;
  height: 50vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.Window_image .comment_description {
  font-family: monospace;
  margin: 0  1.5rem;
}

.Card_buttons_wrapper {
  padding: 10px;
  padding-left: 15px;
  padding: 10px;
  z-index: -1;
  cursor: pointer;
}

.Card_buttons_wrapper svg {
  margin-right: 10px;
}

.like {
  -webkit-animation: like-button-animation 0.45s;
          animation: like-button-animation 0.45s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.liked {
  -webkit-animation: liked-button-animation 0.45s;
          animation: liked-button-animation 0.45s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes like-button-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes like-button-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes liked-button-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes liked-button-animation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 650px) {
  .Window_image {
    display: block;
  }
  .Window_image .Window_container {
    width: 100%;
    border: none;
  }
}
/*# sourceMappingURL=Styles.css.map */