
*{
    padding :0 ;
    margin : 0 ;
    box-sizing: border-box;
    // overflow: hidden;
}
@import 'Textarea';
@import 'gif';
@import 'Comment';
@import 'window';


.main_btn_facebook{
     margin: 1rem;
    padding: 5px 8px;
    font-size: 1rem;
    border-radius: 50px;
  font-family: monospace;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
 cursor: pointer;
}

.Faceebok_comment{
    min-height: 100vh;
    width: 100%;

}
.textheader_second{
    position : absolute ;
    right: 10px;
    .cross{
        font-family: sans-serif;
        margin-left: 10px;
        font-size: 1rem;
        cursor: pointer;
     font-size: 1rem;
         
      
    }
}


// @media screen and (max-width:740px) {

// .image_positon{
//     display: none;
// }
// }


@media screen and (max-width : 500px ){

    .main_btn_facebook{
        padding: 5px 10px;
        font-size: 12px;
    }
}